{{define "cart-num"}}
    <a href="/cart" class="btn position-relative">
        <img class="shopping" src="/static/image/shopping.png" alt="Shopping" style="height: 2em"/>
        {{ if $.cart_num}}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ $.cart_num }}
            {{ end }}
  </span>
    </a>
{{end}}