{{ define "sign-in" }}
{{ template "header" .}}
<div class="d-flex align-content-center justify-content-center" style="min-height: 85vh;">
  <div class="d-flex flex-column justify-content-center" style="height: 80vh; width: 100%;">
    <div class="row justify-content-center">
      <div class="col-4 form-container">
        <form method="post" action="/auth/login?next={{ .Next }}">
          <div class="mb-3">
            <label for="email" class="form-label">Email {{template "required"}}</label>
            <input type="email" class="form-control" id="email" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password {{template "required"}}</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="mb-3">
            Don't have an account? <a href="/sign-up">Sign Up</a>
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ template "footer" .}}
{{end}}